@import url('https://fonts.googleapis.com/css?family=Merriweather|Nunito');

$blue: rgb(86, 116, 247);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Merriweather';
  background-color: rgb(250, 250, 250);
  color: rgb(50, 50, 50);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 28px;
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 32px;
}

h3 {
  font-size: 20px;
  margin-bottom: 24px;
}

h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

h5 {
  font-size: 16px;
  margin-bottom: 12px;
}

.u-align-center {
	text-align: center;
}

.u-visually-hidden {
	position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.button {
  border: none;
  background: none;
  box-shadow: 1px 1px 3px #555;
  border-radius: 4px;
  color: #555;
  padding: 4px 8px;
  cursor: pointer;
  outline: none;
  transition: all .15s linear;
  font-size: 13px;
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &:hover {
    background-color: #555;
    color: #fff;
  }
}

.form-field {
  display: block;
  margin-bottom: 30px;
  position: relative;
}

label {
  color: #aaa;

  &.text-label {
    position: absolute;
    top: 8px;
    left: 0;
    font-size: 12px;
    line-height: 16px;
    max-width: 65px;

    &--two-lines {
      font-size: 10px;
      line-height: 12px;
      top: 0;
    }
  }
}

input[type="text"]:not(.no-style),
input[type="email"],
input[type="number"],
input[type="password"],
textarea,
.styled-input {
  border: none;
  background: none;
  padding: 8px 8px 8px 75px;
  border-bottom: 1px solid rgb(86, 116, 247);
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

input.no-style {
  border: none;
  background: none;
  font-size: 14px;
  outline: none;
}

textarea {
  min-height: 120px;
  white-space: pre-wrap;
}

.field-error-message {
  color: #ff0015;
  display: inline-block;
  font-size: 12px;
  padding-left: 75px;
  position: absolute;
  left: 0;
  bottom: -18px;
  transition: .25s ease-in;
}